.navbar-item{
    // margin-right: 0.5rem;
 }
 .vl {
     border-left: 1.7px solid white;
     height: 5rem;
   }
   $dropdown-item-hover-background-color:red;
   .navbar-item img {
     max-height: 3rem;
 }
 .input{}