<!-- <section class="hero is-dark">
    <div class="hero-body ">
      <div class="container has-text-centered">
        <h1 class="title ">
         About Us
        </h1><br>
        <h2 class="subtitle">
         We're Still in Development and Need Your Help Too!  </h2>
        <h2 class="subtitle">
         Mail us at - developer@covihelp.org	      </h2>
      </div>
    </div>
  </section> -->

  <a href="/src/assets/img/hero2.jpg" download> <img src="src/assets/img/hero2.jpg"> </a>
  <a href="/images/wallpaper.jpg" > <img src="/images/wallpaper.jpg" download> </a>
  <a href="/images/wallpaper.jpg" onClickAction=download> <img src="/images/wallpaper.jpg"> </a>