
div {
    -webkit-column-count: 5;
    -webkit-column-rule-style: solid; 
    -webkit-column-rule-color:  lightgreen; 
     font-style:italic;
     background-color:lightyellow;

    -webkit-column-gap: 50px;

}