<footer class="footer">
    <div class="content has-text-centered">
      <p><strong> COVIhelp.org &#169;2021-22</strong></p>
      <p><strong> Contact us - <a >developer@covihelp.org	    </a></strong></p>

      <p>
        <strong>COVIhelp </strong> <a >by A crowd Source Initiative</a>. All Right Reserved to Our  COVI-helpers
        The website content and Data are from Crowd!
        <!-- is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">To Us covihelp.org</a>. -->
      </p>

    </div>
  </footer>